body{
    margin-top:100px;
}

.staff {
    /* Styles pour la portée (lignes, notes, etc.) */
    position: relative;
}

#validate-button{
    position: absolute;
    top: 300px;
}

#cursor {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #000;
    position: absolute;
    top: -60px;
    left:3%;
}

/* Lignes de la portée */
.staff .line {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
}

.staff .line:nth-child(1) {
    top: 20px;
}

.staff .line:nth-child(2) {
    top: 40px;
}

.staff .line:nth-child(3) {
    top: 60px;
}

.staff .line:nth-child(4) {
    top: 80px;
}

.notes{
    position: relative;
}

/* Styles pour les notes */
.note {
    width: 22px;
    height: 20px;
    background-color: #000;
    position: absolute;
    border-radius: 50%;
}

/* Position des notes sur la portée */
.note.do1 {
    top: 90px;
    left: 3%;
}

.barrenote1{
    position: absolute;
    top: 10px;
    left:-8px;
    width:40px;
    height: 2px;
    background-color: #000;
}

.note.re1 {
    top: 80px;
    left: 8%;
}

.note.mi1 {
    top: 70px;
    left: 13%;
}

.note.fa1 {
    top: 60px;
    left: 18%;
}

.note.sol1 {
    top: 50px;
    left: 23%;
}

.note.la1 {
    top: 40px;
    left: 28%;
}

.note.si1 {
    top: 30px;
    left: 33%;
}

.note.do2 {
    top: 20px;
    left: 38%;
}

.note.re2 {
    top: 10px;
    left: 43%;
}

.note.mi2 {
    top: 0px;
    left: 48%;
}

.note.fa2 {
    top: -10px;
    left: 53%;
}

.note.sol2 {
    top: -20px;
    left: 58%;
}

.note.la2 {
    top: -30px;
    left: 63%;
}